body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    color: darkslategray;
}
header{
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 36px;
}
nav{
    background-color: slateblue;
    text-align: center;
    padding: 14px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 8px;
    font-size: 16px;
}
nav a:hover{
    color: gold;
}
.container{
    text-align: center;
    padding: 30px;
}
.contact-box{
    background-color: white;
    width: 650px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px lightgray;
}
.contact-box h1{
    color: midnightblue;
}
.contact-box h2{
    color: steelblue;
}
.contact-box p{
    font-size: 17px;
}
.feedback-box{
    background-color: white;
    width: 600px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px lightgray;
}
.feedback-box h2{
    color: slateblue;
}
label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 17px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    font-size: 15px;
    background-color: aliceblue;
}
textarea{
    resize: none;
}
input[type="submit"],
input[type="reset"],
button{
    background-color: steelblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
    background-color: royalblue;
}
.next-box{
    background-color: white;
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px lightgray;
}
.next-box h2{
    color: midnightblue;
}